.dropdown__menu {
  transform-origin: top;
  transform: perspective(1000px) rotateX(-90deg);
  @apply absolute border bg-white z-10;
  @apply transition duration-150 opacity-0;
}

.dropdown__menu--active {
  transform: perspective(1000px) rotateX(0deg);
  @apply transition duration-150 opacity-100;
}

.dropdown__item {
  @apply px-6 py-2 select-none;
  @apply transition duration-200;
}

.dropdown__item:hover {
  @apply bg-gray-6 transition duration-200;
}
