/*------------
    Select
------------*/
.sk-select {
  position: relative;
  width: min-content;
}

.sk-select-input {
  display: block;
  padding: 0.25rem 50px 0.25rem 10px;
  border: 1px solid var(--grey-tint-2);
  appearance: none;
  cursor: pointer;
}

.sk-select-input:focus {
  background-color: var(--light);
  transition: all 200ms ease;
}

.sk-select::after {
  content: '';
  position: absolute;
  top: 0.4rem;
  right: 0.7rem;
  width: 0.5rem;
  height: 0.5rem;
  border-width: 0 2px 2px 0;
  border-color: var(--grey-shade-3);
  border-style: solid;
  transform: rotate(45deg);
  pointer-events: none;
}
