/*------------
    Select
------------*/
.sk-select {
  display: flex;
  align-items: center;
}

.sk-select-input {
  appearance: none;
  border: 1px solid var(--grey-tint-2);
  width: 16.6rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: all 200ms ease;
}

.sk-select-input:focus {
  border-color: var(--grey-shade-3);
  background-color: var(--light);
  transition: all 200ms ease;
}

.sk-select-icon {
  position: relative;
  top: -0.1rem;
  right: 1.2rem;
  height: 0.5rem;
  width: 0.5rem;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: var(--grey-shade-3);
  transform: rotate(45deg);
  pointer-events: none;
}
