/*----------------
    Pagination
----------------*/
.pagination {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.pagination > .item {
  padding: 0.5rem 0.75rem;
  margin-right: 2rem;
  border-radius: 0.125rem;
  cursor: pointer;
  user-select: none;
}

.pagination > .item.active {
  background-color: var(--light);
}

.pagination > .ellipsis {
  margin-right: 2rem;
  padding: 0.5rem;
  user-select: none;
}
