/*---------------
    Container
---------------*/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*------------
    Tablet
------------*/
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/*------------
    Laptop
------------*/
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/*-------------
    Desktop
-------------*/
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/*----------------
    Widescreen
----------------*/
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
