/*--  Sidebar  --*/
.sk-sidebar {
  margin: 0;
  padding: 4rem 0rem;
  z-index: 10;
}

/*--  Content  --*/
.sk-sidebar-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 4rem 1rem 4rem 1rem;
  background-color: rgba(255, 255, 255, 95%);
}

.sk-sidebar-show {
  display: block;
}

/*--  Menu  --*/
.sk-sidebar-menu {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*--  Label  --*/
.sk-sidebar-label {
  display: block;
  font-size: 0.75rem;
  padding-bottom: 0.25rem;
  color: var(--grey);
}

/*--  Item  --*/
.sk-sidebar-menu > a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--grey-shade-3);
  border-radius: 0.125rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 200ms ease;
}

.sk-sidebar-menu > a.active {
  background-color: var(--grey-shade-3);
  color: var(--white);
}

/*--  Hover Item  --*/
.sk-sidebar-menu > a:hover {
  background-color: var(--light);
  transition: all 200ms ease;
}

.sk-sidebar-menu a.active:hover {
  background-color: var(--grey-shade-3);
  color: var(--white);
}

.sk-sidebar-mobile-menu {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  border-top: 1px solid var(--light);
  background-color: rgba(255, 255, 255, 95%);
}

/*--  Tablet  --*/
@media (min-width: 640px) {
  .sk-sidebar {
    width: 230px;
    min-width: 230px;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .sk-sidebar-content {
    display: block;
    position: static;
    padding: 0;
  }

  .sk-sidebar-mobile-menu {
    display: none;
  }
}
