/*--  Checkbox  --*/
.sk-checkbox {
  display: block;
  position: relative;
  height: max-content;
  width: 12rem;
  padding-left: 2.5rem;
  user-select: none;
  cursor: pointer;
}

.sk-checkbox-label {
  margin-top: 0.4rem;
  margin-bottom: 0.75rem;
  line-height: 1.4rem;
  color: var(--grey-shade-1);
}

.sk-checkbox-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.sk-checkbox-mark {
  position: absolute;
  top: 0.1rem;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--grey);
  background-color: var(--white);
  transition: all 200ms ease;
}

/*--  Hover  --*/
.sk-checkbox:hover > .sk-checkbox-input ~ .sk-checkbox-mark {
  border: 1px solid var(--grey-shade-3);
  background-color: var(--light);
  transition: all 200ms ease;
}

.sk-checkbox:hover > .sk-checkbox-input ~ .sk-checkbox-label {
  color: var(--grey-shade-3);
  transition: all 200ms ease;
}

.sk-checkbox-input:hover {
  cursor: pointer;
}

/*--  Focus  --*/
.sk-checkbox-input:focus ~ .sk-checkbox-mark {
  border: 1px solid var(--blue);
  background-color: var(--light);
  transition: all 200ms ease;
}

.sk-checkbox-input:focus ~ .sk-checkbox-label {
  color: var(--grey-shade-3);
  transition: all 200ms ease;
}

/*--  Checked  --*/
.sk-checkbox-input:checked ~ .sk-checkbox-mark {
  background-color: var(--white);
}

.sk-checkbox-input:checked ~ .sk-checkbox-label {
  color: var(--grey-shade-3);
}

.sk-checkbox-input:checked ~ .sk-checkbox-mark:after {
  display: block;
}

/*--  Marker  --*/
.sk-checkbox > .sk-checkbox-mark:after {
  content: '';
  display: none;
  position: absolute;
  top: 0.1rem;
  left: 0.32rem;
  width: 0.5rem;
  height: 0.75rem;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: var(--grey-shade-3);
  transform: rotate(45deg);
}
