/*--------------
    Checkbox
--------------*/
.checkbox {
  display: block;
  position: relative;
  height: max-content;
  width: 12rem;
  padding-left: 2.5rem;
  user-select: none;
  cursor: pointer;
}

.checkbox > .label {
  margin-top: 0;
  margin-bottom: 0.75rem;
  line-height: 1.4rem;
  color: var(--grey-shade-1);
}

.checkbox > .input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox > .mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--grey);
  background-color: var(--white);
  transition: all 200ms;
}

/*-----------
    Hover
-----------*/
.checkbox:hover > .input ~ .mark {
  border: 1px solid var(--grey-shade-3);
  background-color: var(--light);
  transition: all 200ms;
}

.checkbox:hover > .input ~ .label {
  color: var(--grey-shade-3);
  transition: all 200ms;
}

.checkbox > .input:hover {
  cursor: pointer;
}

/*-----------
    Focus
-----------*/
.checkbox > .input:focus ~ .mark {
  border: 1px solid var(--blue);
  background-color: var(--light);
  transition: all 200ms;
}

.checkbox > .input:focus ~ .label {
  color: var(--grey-shade-3);
  transition: all 200ms;
}

/*-------------
    Checked
-------------*/
.checkbox > .input:checked ~ .mark {
  background-color: var(--white);
}

.checkbox > .input:checked ~ .label {
  color: var(--grey-shade-3);
}

.checkbox > .input:checked ~ .mark:after {
  display: block;
}

/*------------
    Marker
------------*/
.checkbox > .mark:after {
  content: '';
  display: none;
  position: absolute;
  left: 0.32rem;
  width: 0.5rem;
  height: 0.75rem;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: var(--grey-shade-3);
  transform: rotate(45deg);
}
