.section {
  padding-left: 1rem;
  margin-bottom: 2rem;
  border-left: 1rem solid var(--grey-tint-3);
  background-color: var(--light);
}

.section > .title {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.section > .field {
  margin-top: 0;
  margin-left: 1rem;
}

.section > .field > p {
  margin: 0;
}

.section > .field > .label {
  font-size: 0.8rem;
  color: var(--grey-shade-1);
}
