/*--  Section  --*/
.sk-section {
  padding-bottom: 1rem;
}

.sk-section-title {
  margin: 0;
  padding-bottom: 1rem;
}

.sk-section-item {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.sk-section-label {
  display: block;
  color: var(--grey);
}
