.section {
  margin-bottom: 2rem;
}

.section-title {
  margin-bottom: 1rem;
}

.section-field {
  margin-top: 0;
}

.section-field > p {
  margin-top: 0;
}

.section-label {
  margin-bottom: 0.25rem;
  font-size: 0.8rem;
  color: var(--grey);
}
