/*-------------
    Toolbar
-------------*/
.toolbar {
  display: flex;
  flex-wrap: wrap;
}

.toolbar > * {
  margin: 1rem;
}

/*------------
    Tablet
------------*/
@media (min-width: 640px) {
  .toolbar > *:first-of-type {
    margin-left: 0;
  }
}
