/*--  Toolbar  --*/
.sk-toolbar {
  display: flex;
  flex-wrap: wrap;
}

.sk-toolbar > * {
  margin: 0.5rem 1rem;
}

/*--  Tablet  --*/
@media (min-width: 640px) {
  .sk-toolbar > *:first-of-type {
    margin-left: 0;
  }
}
