/*--  Form  --*/
.sk-form {
  width: max-content;
}

.sk-form-title {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.sk-form-desc {
  margin-top: 0;
  margin-bottom: 2rem;
  color: var(--grey-shade-1);
}

.sk-form-section {
  margin-bottom: 2rem;
}

.sk-form-row {
  max-width: 80vw;
  display: flex;
  flex-wrap: wrap;
}

.sk-form-row > * {
  margin-right: 1rem;
}

.sk-form-footer > * {
  margin-right: 2rem;
}
