/*----------
    Form
----------*/
.form {
  width: max-content;
}

.form > .title {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.form > .desc {
  margin-top: 0;
  margin-bottom: 2rem;
  color: var(--grey-shade-1);
}

.form > .section {
  margin-bottom: 2rem;
}

.form > .section > .label {
  color: var(--grey-shade-3);
  margin-bottom: 1rem;
}

.form > .footer > * {
  margin-right: 2rem;
}
