.form {
  margin-bottom: 5rem;
}

.form-title {
  margin-bottom: 0.25rem;
}

.form-description {
  color: var(--grey-shade-2);
}

.form-section {
  margin: 4rem 0;
}

.form-footer {
  margin-bottom: 4rem;
}

.form-footer > * {
  margin-right: 2rem;
}

.form-legend {
  margin-bottom: 1rem;
}
