/*-----------
    Table
-----------*/
.table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  border-bottom: 1px solid var(--grey);
  color: var(--grey);
  text-align: left;
}

.table-headercell {
  font-weight: 400;
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-headercell:first-of-type {
  padding-left: 1rem;
}

.table-headercell:last-child {
  padding-right: 1rem;
}

.table-row {
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-row:nth-child(even) {
  background-color: var(--light);
}

.table-cell {
  text-transform: capitalize;
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-cell:first-of-type {
  padding-left: 1rem;
}

.table-cell:last-child {
  padding-right: 1rem;
}
