/*--  Table  --*/
.sk-table-container {
  overflow-x: auto;
  display: block;
  margin: 2rem 0;
  white-space: nowrap;
}

.sk-table {
  width: 100%;
  border-collapse: collapse;
}

/*--  Row  --*/
.sk-table-row {
  display: table-row;
  height: 2rem;
  margin: 0;
  padding: 0 1rem;
  background-color: transparent;
}

.sk-table-row:nth-child(even) {
  background-color: var(--light);
}

.sk-table-body > .sk-table-row:hover {
  background-color: var(--blue);
  cursor: pointer;
  transition: all 100ms ease;
}

/*--  Header  --*/
.sk-table-header {
  display: table-header-group;
  border-bottom: 1px solid var(--grey);
  color: var(--grey);
  text-align: left;
}

.sk-table-header-cell {
  font-weight: 400;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sk-table-header-cell:first-of-type {
  padding-left: 1rem;
}

.sk-table-header-cell:last-child {
  padding-right: 1rem;
}

/*--  Cell  --*/
.sk-table-cell {
  display: table-cell;
  padding-left: 1rem;
  padding-right: 1rem;
}

/*--  Props  --*/
.sk-table-th-capitalize {
  text-transform: capitalize;
}

.sk-table-th-min-width {
  width: 0.1%;
}

.sk-table-th-right {
  text-align: right;
}
