/*--  Field  --*/
.sk-field {
  margin-bottom: 0.75rem;
}

.sk-field-label {
  display: block;
  font-size: 0.85rem;
  margin-bottom: 0.25rem;
  color: var(--grey-shade-2);
}

.sk-field-message {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.85rem;
  color: var(--red-shade-1);
}

.sk-field-required {
  color: var(--red-shade-1);
  font-size: 1rem;
}
