/*------------
    Button
------------*/
.button {
  height: min-content;
  padding: 0.3rem 1.75rem;
  transition: all 100ms;
  cursor: pointer;
  outline: none;
}

/*--------------------
    Variant: Solid
--------------------*/
.button.solid {
  border: 2px solid var(--grey-shade-3);
  background-color: var(--grey-shade-3);
  color: var(--white);
}

.button.solid:hover {
  border: 2px solid var(--grey-shade-2);
  background-color: var(--grey-shade-2);
  color: var(--white);
}

.button.solid:focus {
  border: 2px solid var(--blue);
  background-color: var(--grey-shade-3);
}

.button.solid:active {
  border: 2px solid var(--grey-shade-1);
  background-color: var(--grey-shade-1);
}

/*----------------------
    Variant: Outline
----------------------*/
.button.outline {
  border: 2px solid var(--grey-shade-3);
  background-color: var(--white);
  color: var(--grey-shade-3);
}

.button.outline:hover {
  border: 2px solid var(--grey-shade-2);
  background-color: var(--grey-tint-3);
  color: var(--grey-shade-2);
}

.button.outline:focus {
  border: 2px solid var(--blue);
  color: var(--grey-shade-3);
}

.button.outline:active {
  border: 2px solid var(--grey-shade-1);
  background-color: var(--grey-shade-1);
  color: var(--white);
}

/*-------------------
    Variant: Text
-------------------*/
.button.text {
  padding: 0.5rem 2rem;
  border: 2px solid var(--white);
  background-color: var(--white);
  color: var(--grey-shade-3);
}

.button.text:hover {
  background-color: var(--grey-tint-3);
  color: var(--grey-shade-2);
}

.button.text:focus {
  border: 2px solid var(--blue);
  background-color: var(--white);
  color: var(--grey-shade-3);
}

.button.text:active {
  border: 2px solid var(--grey-shade-1);
  background-color: var(--grey-shade-1);
  color: var(--white);
}

/*-------------------
    Variant: Icon
-------------------*/
.button.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  padding: 0.2rem 0.2rem;
  border: 2px solid var(--white);
  background-color: var(--white);
  color: var(--grey-shade-3);
  border-radius: 0.5rem;
}

.button.icon:hover {
  border: 2px solid var(--grey-tint-3);
  background-color: var(--grey-tint-3);
}

.button.icon:focus {
  border: 2px solid var(--blue);
  background-color: var(--white);
}

.button.icon:active {
  border: 2px solid var(--grey);
  background-color: var(--grey);
}
