/*-----------
    Input
-----------*/
.input {
  display: block;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--grey-tint-2);
  outline: none;
  transition: all 200ms;
}

.input:focus {
  border-color: var(--grey-shade-3);
  background-color: var(--light);
  transition: all 200ms;
}
