/*--  Input  --*/
.sk-input {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 14px;
  padding-right: 10px;
  border: 1px solid var(--grey-tint-2);
  outline: none;
  transition: all 200ms ease;
}

.sk-input:focus {
  background-color: var(--light);
  transition: all 200ms ease;
}

.sk-number {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
